<div id="main">
    <div class="inner">

        <!-- Header -->
        {% include '../headers/header.twig' %}    

        <!-- Banner -->
        {% include '../banners/banner.twig' %}

        <!-- Section -->
        {% include '../sections/section1.twig' %}    

        <!-- Section -->
        {% include '/sections/section2.twig' %}   

    </div>
</div>