<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        {% include '../sections/search.twig' %} 

        <!-- Menu -->
        {% include '../menu/sidebar.twig' %}    

        <!-- Section -->
        {% include '../sections/sidebar1.twig' %}   

        <!-- Section -->
 
        {% include '../sections/sidebar2.twig' %}
        <!-- Footer -->
        {% include '../footers/sidebar.twig' %} 

    </div>
</div>